@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';


main{
    background-color: $gray_light;
    padding-bottom: 16px;

    h2{
        text-align: center;
        font-family: $font_titulos;
        text-decoration: underline;
        padding: 12px 0px;

    }

    .container{

      @include escritorio{
        display: grid;
        grid-template-columns: 75% 1fr;
      }

      .side_container{
        display: grid;
        width: 95%;
        padding: 16px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 3px 3px 6px #444;
        font-family: $font_contenido;
        margin-bottom: 12px;

        grid-column: 2/3;
        align-self: flex-start;

        button{
          text-align: center;
          font-weight: bold;
          font-family: $font_contenido;

          @include crearBoton($orange_secondary);

        }
      }

      .container-gray{
        grid-column: 1/2;
        grid-row-start: 1;
        display: grid;
        grid-gap: 12px;

        .card {
          display: grid;
          width: 95%;
            padding: 16px;

            border-radius: 8px;
            box-shadow: 3px 3px 6px #444;

            .info{
              display: grid;
                grid-column: 2/3;

                @include escritorio {
                    grid-template-columns: auto 1fr;
                    grid-gap: 22px;
                  }

                  img{
                    max-width: 330px;
                    justify-self: center;
                  }

                  .details{
                    display: grid;
                    text-align: center;

                    @include escritorio {
                      text-align: left;
                    }

                    h3{
                      font-family: $font_titulos;
                      font-size: 30px;
                      margin-top: 8px;
                    }

                    .descripcion{
                      font-family: $font_contenido;
                    }

                    .star-container {
                      display: flex;
                        justify-self: center;
                        @include escritorio{
                          justify-self: left;
                        }
                      }

                      .star {
                        color: yellow;
                        text-shadow: 0 0 3px #000;
                      }

                    .cantidad{
                      font-size: 18px;
                      i{
                        color: $green_primary;
                        font-size: 20px;
                        cursor: pointer;
                      }

                        .error{
                            color: red;
                          }
                        }

                        .price {
                          font-family: $font_titulos;
                        font-size: 36px;
                        margin-bottom: 0px;
                      }

                      .eliminar {
                        cursor: pointer;
                        color: rgb(86, 86, 255);
                        text-decoration: underline;
                        margin: 0px;
                      }
                    }
                  }

                }


              }
            }
}
