@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

main{
    background-color: $gray_light;
}


h2{
    font-family: $font_titulos;
}

.fondo-verde{
    background-color: $green_primary;
}

.fondo-azul {
    border-radius: 12px;
    cursor: pointer;
    background-image: radial-gradient(#fff, #B3E5FC);
}

.text-icon{
    color: $blue_light;
}

.text-color{
    color: #585858;
}

.logo{
    font-family: $font_logo;
}

.com{
    color: $green_primary;
}

.dudas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    img{
        max-width: 125px;
    }
}


.comentarios{
    display: grid;
    text-align: center;
    justify-items: center;

    @include escritorio {
        grid-template-columns: auto 1fr;

        .contenido{
            grid-column: 2/3;
            display: grid;
            align-items: flex-start;

            .star-logo-img{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            }
        }
    }

    img{
        max-width: 200px;
    }

    .stars{
        display: flex;
        justify-content: center;
        color: yellow;
        text-shadow: 0 0 3px #000;
    }
}