<main class="bg-light animated fadeIn fast">

    <app-slider></app-slider>


    <h2 class="text-center text-decoration-underline py-4">¿Pasas mucho tiempo fuera de casa?</h2>

    <!--CARDS PRESENTACION-->
    <section class="cards container-md animated fadeIn">

        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
            <div class="card text-center shadow">
                <img src="/assets/img/index-paseo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Paseos por horas</h5>
                <p class="card-text">En nuestra guarderia tu mascot podra jugar, corer y divertirse con otros amigos y nuestros adiestradores.</p>
                </div>
            </div>
            </div>

            <div class="col">
            <div class="card text-center shadow">
                <img src="/assets/img/index-perro-fuera.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Lo cuidamos en casa</h5>
                <p class="card-text">En nuestra guarderia tu mascot podra jugar, corer y divertirse con otros amigos y nuestros adiestradores.</p>
                </div>
            </div>
            </div>

            <div class="col">
            <div class="card text-center shadow">
                <img src="/assets/img/index-paseo2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Tráelo con nostros</h5>
                <p class="card-text">En nuestra guarderia tu mascot podra jugar, corer y divertirse con otros amigos y nuestros adiestradores.</p>
                </div>
            </div>
            </div>

        </div>

    </section>

    <!--TEXTO INFORMATIVO-->
    <section class="container-sm d-flex justify-content-center text-center mt-5">
        <p class="col-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam sodales nunc a pulvinar mattis. Morbi a nunc et justo venenatis dictum. Mauris velit mi, posuere et porttitor at, maximus id purus.sum commodo, dignissim velit.</p>
    </section>

    <!--TIENES DUDAS-->
    <section class="mt-4 fondo-verde">

        <h2 class="text-center text-white text-decoration-underline pt-3">¿Tienes dudas?</h2>

        <div class="container-md">

            <div class="py-3 dudas">

                <div class="text-center text-white fs-3">
                    <img class="bg-white rounded-circle" src="./assets/icons/cuidados.png" alt="">
                    <p>Cuidados</p>
                </div>

                <div class="text-center text-white fs-3">
                    <img src="./assets/icons/contacto.png" alt="">
                    <p>Contacto</p>
                </div>

                <div class="text-center text-white fs-3">
                    <img src="./assets/icons/envio.png" alt="">
                    <p>Envío</p>
                </div>

                <div class="text-center text-white fs-3">
                    <img src="./assets/icons/estrella.png" alt="">
                    <p>Ventajas</p>
                </div>
            </div>
        </div>

    </section>

    <!--BOTON TIENDA-->
    <a routerLink="/main/tienda" class="container d-flex justify-content-center my-5 text-decoration-none">
        <!--personalizar el rounded para que sea mayor-->
        <div class="row col-8 border px-5 py-3 shadow fondo-azul">
            <i class="fas fa-store text-end fs-4 text-icon"></i>
            <p class="py-2 fs-2 text-center text-color">MAS ARTICULOS EN NUESTRA TIENDA</p>
            <i class="fas fa-truck fs-4 text-icon"></i>
        </div>
    </a>


    <!--TEXTO INFORMATIVO-->
    <section class="container-sm d-flex justify-content-center text-center mt-5">
        <p class="col-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam sodales nunc a pulvinar mattis. Morbi a nunc et justo venenatis dictum. Mauris velit mi, posuere et porttitor at, maximus id purus.sum commodo, dignissim velit.</p>
    </section>

    <!--PUBLICIDAD GUARDERÍA-->
    <div class="d-none d-sm-block container container-xxl p-0 position-relative">
        <img class="img-fluid" src="/assets/img/slider/perro-manta-slide-editada.jpg" alt="">
        <div class="position-absolute top-0 text-white d-flex flex-column h-100 justify-content-center p-5">
            <h4>Nuestra Guardería</h4>
            <p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur tenetur excepturi quisquam <span class="d-none d-md-block"> ullam quam dignissimos saepe nostrum amet illo sed, in nobis natus tempora, odio autem. Omnis debitis ipsa iusto. </span></p>
            <a class="fondo-verde text-white text-decoration-none text-center rounded-pill py-2 px-5 align-self-start shadow" href="#">Accede a nuestra guardería</a>
        </div>
    </div>

    <!--TEXTO INFORMATIVO-->
    <section class="d-none d-sm-flex container-sm justify-content-center text-center mt-5">
        <p class="col-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam sodales nunc a pulvinar mattis. Morbi a nunc et justo venenatis dictum. Mauris velit mi, posuere et porttitor at, maximus id purus.sum commodo, dignissim velit.</p>
    </section>

    <!--SECCION COMENTARIOS-->
    <section class="container-fluid bg-white pt-5">

        <div class="container-md">
            <h3 class="text-center">Algunos comentarios de nuestros clients sobre nuestra guardería, productos y servicios.</h3>

            <!--COMENTARIOS-->
            <div class="row p-5 comentarios">

                <img src="/assets/img/opinion-circle.png" alt="">

                <div class="contenido">
                    <p>
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, nobis. Veniam architecto delectus harum explicabo magni iure porro neque ratione itaque voluptate. Quidem consectetur illo, provident excepturi doloremque quia vel?"
                    </p>

                    <div class="star-logo-img">
                        <div class="col d-flex align-items-center stars fs-4">
                            <i class="fas fa-star stars"></i>
                            <i class="fas fa-star stars"></i>
                            <i class="fas fa-star stars"></i>
                            <i class="fas fa-star stars"></i>
                            <i class="far fa-star stars"></i>
                        </div>

                        <p class="fs-1 logo">Mimascota<span class="com">.com</span></p>
                    </div>
                </div>


            </div>
        </div>
    </section>


</main>
