main{
    background-color: #E0E0E0;
}


h2{
    font-family: 'Courgette', cursive;
}

.fondo-verde{
    background-color: #8BC34A;
}

.fondo-azul {
    border-radius: 12px;
    cursor: pointer;
    background-image: radial-gradient(#fff, #B3E5FC);
}

.text-icon{
    color: #03A9F4;
}

.text-color{
    color: #585858;
}

.bg-verde{
    background-color: #8BC34A;
}

.stars {
    color: yellow;
    text-shadow: 0 0 3px #000;
}

.logo{
    font-family: 'Architects Daughter', cursive;
}

.com{
    color: #8BC34A;;
}