<div class="wrapper container">

    <h2>Mis pedidos</h2>

    <section *ngIf="user">

        <div class="info">
            
            <div class="label">
                <p class="title">Nombre:</p>
                <p  *ngIf="!changeName">{{ user.name }}</p>
            

            <form [formGroup]="myForm" *ngIf="changeName">

            <div class="label" >
                
                    <input 
                    type="text" 
                    class="form-control"
                    [(ngModel)]="user.name"
                    [ngClass]="{ 'is-invalid': name.invalid && ( name.dirty || name.touched),
                    'is-valid': name.valid     && ( name.dirty || name.touched)}"
                    
                    formControlName="name">
                    
                    <div class="invalid-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                        <span *ngIf="name.errors.required">Debe ingresar su nombre</span>
                    </div>
                </div>

            </form>

            </div>
            
            <button (click)="changeName = !changeName">Cambiar Nombre</button>
            
        </div>
        
        <div class="info">
            
            <div class="label" >
                <p class="title">Email:</p>
                <p *ngIf="!changeEmail">{{ user.email }}</p>

            <form [formGroup]="myForm" *ngIf="changeEmail">

                <div class="label" >
                    
                    <input 
                    type="email" 
                    class="form-control"
                    [(ngModel)]="user.email"
                    [ngClass]="{ 'is-invalid': email.invalid && ( email.dirty || email.touched),
                    'is-valid': email.valid     && ( email.dirty || email.touched)}"
                 
                    formControlName="email">

                    
                    <div class="invalid-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                        <span *ngIf="email.errors.required">Debe ingresar su nombre</span>
                        <span *ngIf="email.errors.pattern">Email invalido</span>

                    </div>
                </div>
    
            </form>

        </div>

            
            <button (click)="changeEmail = !changeEmail">Cambiar Email</button>
            
        </div>
        <div class="info">
            
            <div class="label">
                <p class="title">Telefono:</p>
                <p *ngIf="!changePhone">{{ user.phone }}</p>

                <form [formGroup]="myForm" *ngIf="changePhone">

                    <div class="label" >
                        
                        <input 
                            
                            type="number" 
                            class="form-control"
                            [(ngModel)]="user.phone"
                            [ngClass]="{ 'is-invalid': phone.invalid && ( phone.dirty || phone.touched),
                            'is-valid': phone.valid     && ( phone.dirty || phone.touched)}"
                            
                            formControlName="phone">
                        
                        <div class="invalid-feedback" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                            <span *ngIf="phone.errors.required">Debe ingresar su telefono</span>
                            <span *ngIf="phone.errors.pattern">Telefono invalido</span>
                        </div>
                    </div>
        
                    </form>
            </div>
            
            <button (click)="changePhone = !changePhone">Cambiar Movil</button>
            
        </div>
        <div class="info">
            
            <div class="label">
                <p class="title">Password:</p>
                <p>***********</p>
            </div>
            
            <button>Cambiar Password</button>
            
        </div>

        <button (click)="onSubmit()">Enviar Cambios</button>
        
    </section>
</div>