<div class="wrapper container">

    <h2>Mis pedidos</h2>

    <section>
        


        <div class="info">
            
            <div class="label">
                <p class="title">Nombre:</p>
                <p>Federico Jácome</p>
            </div>
            
            <button>Cambiar Nombre</button>
            
        </div>
        
        <div class="info">
            
            <div class="label">
                <p class="title">Email:</p>
                <p>federock@gmail.com</p>
            </div>
            
            <button>Cambiar Email</button>
            
        </div>
        <div class="info">
            
            <div class="label">
                <p class="title">Telefono:</p>
                <p>655357895</p>
            </div>
            
            <button>Cambiar Movil</button>
            
        </div>
        <div class="info">
            
            <div class="label">
                <p class="title">Password:</p>
                <p>***********</p>
            </div>
            
            <button>Cambiar Password</button>
            
        </div>

        <button>Enviar Cambios</button>
        
    </section>
</div>