<div class="wrapper container animated fadeIn fast">

    <h2>Mis pedidos</h2>

    <div class="container_passowrd animated fadeIn" *ngIf="showPasswordForm">

        <form [formGroup]="passwordForm">
            <i class="far fa-times-circle" (click)="showPasswordForm = false"></i>
            <div class="mb-3">
                <label for="currentPassword" class="form-label">Introduzca su contraseña</label>
                <input type="password" class="form-control" id="currentPassword" aria-describedby="emailHelp"
                formControlName="oldPassword"
                [ngClass]="{ 'is-invalid': oldPassword.invalid && ( oldPassword.dirty || oldPassword.touched),
                    'is-valid': oldPassword.valid     && ( oldPassword.dirty || oldPassword.touched)}"
                >

                <div class="invalid-feedback" *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)">
                    <span *ngIf="oldPassword.errors.required">Debe ingresar su contraseña</span>
                    <span *ngIf="oldPassword.errors.minlength">El password debe contener al menos 8 caracteres</span>
                </div>
            </div>

            <div class="mb-3">
                <label for="newPassword" class="form-label">Introduzca la contraseña nueva</label>
                <input type="password" class="form-control" id="newPassword" aria-describedby="emailHelp"
                formControlName="newPassword"
                [ngClass]="{ 'is-invalid': newPassword.invalid && ( newPassword.dirty || newPassword.touched),
                    'is-valid': newPassword.valid     && ( newPassword.dirty || newPassword.touched)}"
                >
                <div class="invalid-feedback" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                    <span *ngIf="newPassword.errors.required">Debe ingresar su nueva contraseña</span>
                    <span *ngIf="newPassword.errors.minlength">El password debe contener al menos 8 caracteres</span>
                </div>
            </div>

            <div class="mb-3">
                <label for="repeatPassword" class="form-label">Repita la contraseña</label>
                <input type="password" class="form-control" id="repeatPassword"
                formControlName="repeatPassword"
                [ngClass]="{ 'is-invalid': repeatPassword.invalid && ( repeatPassword.dirty || repeatPassword.touched),
                    'is-valid': repeatPassword.valid     && ( repeatPassword.dirty || repeatPassword.touched)}"
                >
                <div class="invalid-feedback" *ngIf="repeatPassword.errors && (repeatPassword.dirty || repeatPassword.touched)">
                    <span *ngIf="repeatPassword.errors.required">Debe repetir su contraseña</span>
                    <span *ngIf="repeatPassword.errors.noEsIgual">Las contraseñas no coinciden</span>

                </div>
            </div>

            <button type="submit" (click)="submitPassword()">Enviar</button>
        </form>



    </div>

    <section *ngIf="user">

        <div class="info">

            <div class="label">
                <p class="title">Nombre:</p>
                <p  *ngIf="!changeName">{{ user.name }}</p>


            <form [formGroup]="myForm" *ngIf="changeName">

            <div class="label" >

                    <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="user.name"
                    [ngClass]="{ 'is-invalid': name.invalid && ( name.dirty || name.touched),
                    'is-valid': name.valid     && ( name.dirty || name.touched)}"

                    formControlName="name">

                    <div class="invalid-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                        <span *ngIf="name.errors.required">Debe ingresar su nombre</span>
                    </div>
                </div>

            </form>

            </div>

            <button (click)="changeName = !changeName">Cambiar Nombre</button>

        </div>

        <div class="info">

            <div class="label" >
                <p class="title">Email:</p>
                <p *ngIf="!changeEmail">{{ user.email }}</p>

            <form [formGroup]="myForm" *ngIf="changeEmail">

                <div class="label" >

                    <input
                    type="email"
                    class="form-control"
                    [(ngModel)]="user.email"
                    [ngClass]="{ 'is-invalid': email.invalid && ( email.dirty || email.touched),
                    'is-valid': email.valid     && ( email.dirty || email.touched)}"

                    formControlName="email">


                    <div class="invalid-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                        <span *ngIf="email.errors.required">Debe ingresar su nombre</span>
                        <span *ngIf="email.errors.pattern">Email invalido</span>

                    </div>
                </div>

            </form>

        </div>


            <button (click)="changeEmail = !changeEmail">Cambiar Email</button>

        </div>
        <div class="info">

            <div class="label">
                <p class="title">Telefono:</p>
                <p *ngIf="!changePhone">{{ user.phone }}</p>

                <form [formGroup]="myForm" *ngIf="changePhone">

                    <div class="label" >

                        <input

                            type="number"
                            class="form-control"
                            [(ngModel)]="user.phone"
                            [ngClass]="{ 'is-invalid': phone.invalid && ( phone.dirty || phone.touched),
                            'is-valid': phone.valid     && ( phone.dirty || phone.touched)}"

                            formControlName="phone">

                        <div class="invalid-feedback" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                            <span *ngIf="phone.errors.required">Debe ingresar su telefono</span>
                            <span *ngIf="phone.errors.pattern">Telefono invalido</span>
                        </div>
                    </div>

                    </form>
            </div>

            <button (click)="changePhone = !changePhone">Cambiar Movil</button>

        </div>


        <div class="info">

            <div class="label">
                <p class="title">Password:</p>
                <p>***********</p>
            </div>

            <button (click)="showPasswordForm = true">Cambiar Password</button>


        </div>

        <button (click)="onSubmit()">Enviar Cambios</button>

    </section>
</div>
