@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/variables';

nav {
    background-color: $green_primary;

    .nav {
        display: grid;

        ul{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            margin: 0px;

            li{
                display: block;
                width: 100%;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 12px;
                    font-weight: bold;
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }
}
    .container-gray{
        background-color: $blue_light;
        padding: 12px;
        text-align: center;
        min-height: 500px;

        @include escritorio{
            display: grid;
            text-align: left;
            padding-left: 60px;
        }

        .order-container{
            background-color: $blue_lighter;
            border-radius: 8px;
            box-shadow: 3px 3px 6px #444;
            padding: 12px;
            margin-bottom: 20px;

            .texto{
                @include escritorio{
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-around;
                }
            }

            h3{
                font-family: $font_titulos;
                font-size: 30px;
                margin-top: 8px;
            }

            .product-container{
                display: grid;
                justify-content: center;
                margin-bottom: 12px;
                border: 1px solid rgb(233, 230, 230);
                border-radius: 12px;
                padding: 8px;
                box-shadow: 3px 3px 5px #a5a3a3;
                background-color: #fff;

                @include escritorio{
                    display: block;
                }


                .info{
                    display: grid;
                    align-items: center;
                    justify-items: center;

                    @include escritorio{
                        grid-template-columns: auto 1fr;
                        justify-content: space-between;
                        grid-gap: 14px;
                    }

                    img{
                        max-width: 400px;
                        border-radius: 8px;
                    }

                    .details{
                        display: grid;

                        h3{
                            font-family: $font_titulos;
                            font-size: 22px;
                            margin-top: 8px;

                            @include escritorio{
                                font-size: 30px;
                            }
                        }

                        .descripcion{
                            font-family: $font_contenido;
                        }

                        .price {
                            font-family: $font_titulos;
                            font-size: 36px;
                            margin-bottom: 0px;

                            span{
                                font-size: 20px;
                            }
                        }

                        a{
                            margin-bottom: 8px;
                        }
                    }
                }
            }

            .botones{
                display: grid;
                @include escritorio{
                    display: flex;
                    button{
                        width: 100%;
                        margin-right: 8px;
                        text-align: center;
                    }
                }
            }

            button:nth-of-type(1){
                @include crearBoton($green_primary)
            }
            button:nth-of-type(2){
                @include crearBoton($orange_secondary)
            }
    }
}
