<div class="container-gray" >

    <article class="order-container">
        <h3>Pedido numero 2</h3>
        <p>Pedido el <small>12/05/2020</small></p>
        <p>Entregado el <small>25/05/2020</small></p>

        <div class="product-container">

            <div class="info">
                <img src="#" alt="">

                <div class="details">
                    <h3>product.product.name</h3>
                    <p class="descripcion">product.product.description</p>
                    <p class="price">5.95</p>

                    <button href="">Volver a comprar</button>
                    <button href="">Valorar producto</button>

                </div>
                
            </div>

        </div>

        <div class="product-container">

            <div class="info">
                <img src="#" alt="">

                <div class="details">
                    <h3>product.product.name</h3>
                    <p class="descripcion">product.product.description</p>
                    <p class="price">5.95</p>

                    <button href="">Volver a comprar</button>
                    <button href="">Valorar producto</button>

                </div>
                
            </div>

        </div>

    </article>

</div>