
    
    <div class="container container-gray" >

        <h2>Mis pedidos</h2>
        
        <article class="order-container">
            
            <div class="texto">
                <h3>Pedido numero 2</h3>
                <p>Pedido el <small>12/05/2020</small></p>
                <p>Entregado el <small>25/05/2020</small></p>
            </div>
            
            <div class="product-container">
                
                <div class="info">
                    <img src="../../../../assets/img/productos/editadas/oso-peluche.jpg" alt="">
                    
                    <div class="details">
                        <h3>product.product.name</h3>
                        <p class="descripcion">product.product.description</p>
                        <p class="price">5.95</p>
                        
                        <div class="botones">
                            <button href="">Volver a comprar</button>
                            <button href="">Valorar producto</button>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="product-container">
                <div class="info">
                    <img src="../../../../assets/img/productos/editadas/tubo-gato.jpg" alt="">
                    
                    <div class="details">
                        <h3>product.product.name</h3>
                        <p class="descripcion">product.product.description</p>
                        <p class="price">5.95</p>
                        
                        <div class="botones">
                            <button href="">Volver a comprar</button>
                            <button href="">Valorar producto</button>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </article>
        
        <article class="order-container">
            <h3>Pedido numero 2</h3>
            <p>Pedido el <small>12/05/2020</small></p>
            <p>Entregado el <small>25/05/2020</small></p>
            
            <div class="product-container">
                
                <div class="info">
                    <img src="../../../../assets/img/productos/editadas/oso-peluche.jpg" alt="">
                
                    <div class="details">
                        <h3>product.product.name</h3>
                        <p class="descripcion">product.product.description</p>
                        <p class="price">5.95</p>
                        
                        <div class="botones">
                            <button href="">Volver a comprar</button>
                            <button href="">Valorar producto</button>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="product-container">
                <div class="info">
                    <img src="../../../../assets/img/productos/editadas/tubo-gato.jpg" alt="">
                    
                    <div class="details">
                        <h3>product.product.name</h3>
                        <p class="descripcion">product.product.description</p>
                        <p class="price">5.95</p>
                        
                        <div class="botones">
                            <button href="">Volver a comprar</button>
                            <button href="">Valorar producto</button>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </article>
        
    </div>
    
