# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/FRONT/dist
/FRONT/tmp
/FRONT/out-tsc

/BACK/server/build

# Only exists if Bazel was run
/bazel-out

# dependencies
/FRONT/node_modules
/BACK/server/node_modules

Proyecto FP.odt
Proyecto Federico Andrés Jácome Castañeda.odt
