<main class="animated fadeIn fast">

    <div class="wrapper">
        <div class="sidebar">
            <h2>Hola, Federico</h2>
            <ul>
                <li><a routerLink="/main/usuario/pedidos"><i class="fas fa-shopping-cart"></i>Mis pedidos</a></li>
                <li><a routerLink="/main/usuario/citas"><i class="fas fa-calendar-check"></i>Mis Citas</a></li>
                <li><a routerLink="/main/usuario/direccion"><i class="fas fa-address-card"></i>Mis direcciones</a></li>
                <li><a routerLink="/main/usuario/configuracion"><i class="fas fa-cog"></i>Configuración</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i>Salir</a></li>
            </ul>
        </div>
    </div>

    <router-outlet class="animated fadeIn"></router-outlet>

</main>
