<div class="filters">

    <div>
        <p>Introduzca su codigo postal: </p>
        <input type="text" placeholder="Codigo postal....">
    </div>


            <input type="date" class="date">
            
            <select name="hour" id="">
                <option value="">8:00 - 9:00</option>
                <option value="">9:00 - 10:00</option>
                <option value="">10:00 - 11:00</option>
                <option value="">11:00 - 12:00</option>
                <option value="">12:00 - 13:00</option>
            </select>


        <button>Reservar <i class="fas fa-paw"></i></button>


</div>