<main class="animated fadeIn">

    <div class="container-gray" >

        <div class="fullSizeImgContainer animated fadeIn" *ngIf="showBigImg" >
            <img (click)="showBigImg = false"  [src]="imgRouteBig + imgToShow" alt="">
        </div>

        <div class="card container">

            <div class="miniaturas" *ngIf="product">
                <img [src]=" imgRoute + product.img " alt="" (click)="imgToShow = product.img">
                <img [src]=" imgRoute + 'descarga.jpg'" alt="" (click)="imgToShow = 'descarga.jpg'">
                <img [src]=" imgRoute + 'descarga.jpg'" alt="" (click)="imgToShow = 'descarga.jpg'">
            </div>

            <div class="info" *ngIf="product">
                <img [src]=" imgRoute + imgToShow" alt="" (click)="showBigImg = true">

                <div class="details">
                    <h3>{{product.name}}</h3>
                    <p class="descripcion">{{product.description}}</p>
                    
                    <!--ESTRELLAS-->
                    <div class="star-container" *ngIf="product.rating_average != null">
                        <div *ngFor="let i of cantidadEstrellas">
                            <i *ngIf="i <= product.rating_average" class="fas fa-star star"></i>
                            <i *ngIf="i > product.rating_average && i-1 < product.rating_average" class="fas fa-star-half-alt star"></i>
                            <i *ngIf="i > product.rating_average && i-1 >= product.rating_average" class="far fa-star star"></i>
                        </div>
                        <small class="ms-1">{{product.number_votes}} <a href="#">Valoraciones</a></small>
                    </div>

                    <!--SI NO TIENE VALORACIONES-->
                    <small *ngIf="product.rating_average == null">Producto sin valoraciones</small>

                    <!--TODO: agregar la cantidad de preguntas sobre este producto-->
                    <a href="#">8 Preguntas respondidas</a>
                    <p class="price">€{{ product.price.toFixed(2) }}</p>

                    <!--SI HAY STOCK MUESTRO-->
                    <p class="cantidad" *ngIf="product.stock > 0"> 
                        <i (click)="decreaseItem(product)" class="fas fa-arrow-alt-circle-left"></i>
                        {{ qtyOfProduct }}
                        <i (click)="increaseItem(product)" class="fas fa-arrow-alt-circle-right"></i>

                        <span class="error" *ngIf="outOfStock">Lo sentimos, no hay mas articulos disponibles en este momento</span>
                    </p>
                    <div class="botones" *ngIf="product.stock > 0">
                        <button class="btn1" (click)="addProduct(product)">Agregar al carro</button>
                        <button class="btn2">Comprar Ya!</button>
                    </div>

                    <!--SI NO HAY STOCK-->
                    <P class="outOfStock" *ngIf="product.stock <= 0">Producto no disponible en este momento</P>

                </div>
            </div>
        </div>

    </div>
</main>