<div class="wrapper container">

    <h2>Mis direcciones</h2>

    <section *ngIf="user">
        
        <div class="new info">
            
            <div>
                <i class="fas fa-map-marked-alt"></i>
                Agrega una nueva dirección
            </div>
            
        </div>
        
        <div class="info" *ngFor="let address of user.address">
            
            <p class="title">Calle: <span> {{ address.street_name }}</span></p>

            <p class="title">Numero:<span> {{ address.street_number }}</span></p>

            <p class="title">Piso:<span> {{ address.floor }}</span></p>

            <p class="title">Letra:<span> {{ address.letter }}</span></p>

            <p class="title">Provincia:<span> {{ address.province }}</span></p>

            <p class="title">Localidad:<span> {{ address.locality }}</span></p>

            <p class="title">Ciudad:<span> {{ address.town }}</span></p>

            <p class="title">Codigo Postal:<span> {{ address.details }}</span></p>

            <a (click)="showAddressForm(address)" *ngIf="address.main_address">Editar</a>

            <div class="main" *ngIf="address.main_address">
                <i class="fas fa-bookmark"></i>
                <p>principal</p>

            </div>

            <div class="links" *ngIf="!address.main_address">
                <a (click)="showAddressForm(address)">Editar</a>
                <a (click)="setMain(address.id)">Hacer principal</a>
                <a (click)="deleteAddress(address.id)">Eliminar</a>
            </div>
                        
        </div>

        
    </section>

    <div class="address_form" *ngIf="openAddressForm">
        <app-address-form 
            (address)="addressRecived( $event )" 
            (close)="openAddressForm = false"
            [addressRecived]="address"
            ></app-address-form>
    </div>
</div>