<div class="wrapper container">

    <h2>Mis direcciones</h2>

    <section>
        
        <div class="new info">
            
            <div>
                <i class="fas fa-map-marked-alt"></i>
                Agrega una nueva dirección
            </div>
            
        </div>
        
        <div class="info">
            
            <p class="title">Calle: <span> San Mateo</span></p>

            <p class="title">Numero:<span> 3</span></p>

            <p class="title">Piso:<span> 3</span></p>

            <p class="title">Letra:<span> A</span></p>

            <p class="title">Provincia:<span> Málaga</span></p>

            <p class="title">Localidad:<span> Mijas</span></p>

            <p class="title">Ciudad:<span> Las Lagunas</span></p>

            <p class="title">Codigo Postal:<span> Aqui algo mas de informacion etc</span></p>

            <a href="#">Editar</a>

            <div class="main">
                <i class="fas fa-bookmark"></i>
                <p>principal</p>
            </div>
                        
        </div>

        <div class="info">
            
            <p class="title">Calle: <span> San Mateo camino de coin y la madre que me pario</span></p>

            <p class="title">Numero:<span> 3</span></p>

            <p class="title">Piso:<span> 3</span></p>

            <p class="title">Letra:<span> A</span></p>

            <p class="title">Provincia:<span> Málaga</span></p>

            <p class="title">Localidad:<span> Mijas</span></p>

            <p class="title">Ciudad:<span> Las Lagunas</span></p>

            <p class="title">Codigo Postal:<span> Aqui algo mas de informacion etc</span></p>
            
            <div class="links">
                <a href="#">Editar</a>
                <a href="#">Hacer principal</a>
                <a href="#">Eliminar</a>
            </div>

        </div>

        
    </section>
</div>