<section>
    <div class="order">
        <label for="orderBy">Ordenar: </label>
        <select name="orderBy" (change)="orderBy.emit( selectOrder.value )" #selectOrder>
            <option value="id">Id</option>
            <option value="name">Nombre</option>
            <option value="price" *ngIf="filterType == 'product'">Precio</option>
        </select>
    </div>

    
    <div class="searchBar">
        <input #searchBar (keyup)="search.emit( searchBar.value )" type="text" placeholder="Buscar...">
    </div>
    <button *ngIf="filterType != 'user'" (click)="createNew.emit(true)">Nuevo</button>
</section>