<div class="contenedor-principal">

    
    <div class="contenedor-articulos">
        
        <article>
            <img src="../../../../../assets/img/productos/bufanda-gato-perro.jpg" alt="">
            
            <div class="informacion">
                <p class="nombre-item">Nombre jugueta</p>
                <i class="far fa-trash-alt papelera"></i>
                <p><span>1x </span>5.00€</p>
                <p class="precio">5.00€</p>
            </div>
        </article>
        
    </div>
    
    <section>
        <p>TOTAL:</p>
        <p>10,00€</p>
    </section>
    
    <button><i class="fas fa-cart-arrow-down"></i> Terminar compra</button>
    
</div>