

<div class="container container-gray animated fadeIn fast" *ngIf="appointmentWithAddress.length > 0">

  <h2>Mis Citas</h2>

  <div class="changeApp animated fadeIn">
    <a *ngIf="orderTerm != 'old'" (click)="orderTerm = 'old'"><i class="far fa-hand-point-left"></i> Ver Citas pasadas</a>
    <a *ngIf="orderTerm == 'old'" (click)="orderTerm = 'new'">Ver Citas pendientes <i class="far fa-hand-point-right"></i></a>
  </div>

  <div class="container container-gray noAppointments animated fadeIn" *ngIf="orderTerm == 'old' && !haveOld">
    <span>No tienes citas pasadas</span>
    <img src="assets/icons/appointment.png" alt="">
  </div>

  <article  class="appointment-container animated fadeIn" *ngFor="let appointment of appointmentWithAddress | pastOrNewAppointments : orderTerm ">

      <div class="texto">
          <h3>Nº de cita {{ appointment.id }}</h3>
          <p>Concertada para el <small>{{ appointment.date_appointment_from | date:'medium' }}</small></p>
      </div>

      <div class="detail-container">

          <div class="info">
               <img *ngIf="appointment.service_id == 1" src="/assets/img/peluqueria1.jpg" alt="">
               <img *ngIf="appointment.service_id == 2" src="/assets/img/index-paseo2.jpg" alt="">

              <div class="details">
                  <h3> {{ appointment.service_id == 6 ? 'Paseos' : 'Peluquería' }} </h3>
                  <p>{{ appointment.street_name }} {{ appointment.street_number}} {{ appointment.floor }} {{ appointment.letter }}</p>
                  <p>{{ appointment.postcode }} {{ appointment.town}}, {{ appointment.locality}}</p>
                  <p class="price"> €{{ appointment.price }}</p>

                  <div class="botones">
                      <button routerLink="/main/peluqueria">Volver a pedir</button>
                      <button href="">Valorar experiencia</button>
                  </div>

              </div>

          </div>

      </div>

  </article>

</div>

<div class="container container-gray noAppointments" *ngIf="appointmentWithAddress.length <= 0">
  <h2>Mis Citas</h2>
  <span>No tienes citas...</span>
  <img src="assets/icons/appointment.png" alt="">
</div>
