

<div class="container container-gray" *ngIf="appointmentWithAddress">

  <h2>Mis Citas</h2>

  <div class="changeApp">
    <a *ngIf="orderTerm != 'old'" (click)="orderTerm = 'old'"><i class="far fa-hand-point-left"></i> Ver Citas pasadas</a>
    <a *ngIf="orderTerm == 'old'" (click)="orderTerm = 'new'">Ver Citas pendientes <i class="far fa-hand-point-right"></i></a>
  </div>

  <article class="appointment-container" *ngFor="let appointment of appointmentWithAddress | pastOrNewAppointments : orderTerm ">

      <div class="texto">
          <h3>Nº de cita {{ appointment.id }}</h3>
          <p>Concertada para el <small>{{ appointment.date_appointment_from | date:'medium' }}</small></p>
      </div>

      <div class="detail-container">

          <div class="info">
               <img *ngIf="appointment.service_id == 5" src="/assets/img/peluqueria1.jpg" alt="">
               <img *ngIf="appointment.service_id == 6" src="/assets/img/index-paseo 2.jpg" alt="">

              <div class="details">
                  <h3> {{ appointment.service_id == 6 ? 'Paseos' : 'Peluquería' }} </h3>
                  <p>{{ appointment.street_name }} {{ appointment.street_number}} {{ appointment.floor }} {{ appointment.letter }}</p>
                  <p>{{ appointment.postcode }} {{ appointment.town}}, {{ appointment.locality}}</p>
                  <p class="price"> €{{ appointment.price }}</p>

                  <div class="botones">
                      <button routerLink="/main/peluqueria">Volver a pedir</button>
                      <button href="">Valorar experiencia</button>
                  </div>

              </div>

          </div>

      </div>

  </article>

</div>

