    <div class="container">

        <h2>Dirección</h2>
        
        <form novalidate [formGroup]="myForm" (ngSubmit)="onSubmit()">

            <!--CALLE-->
            <div class="form-group">
                <label>Calle:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': street_name.invalid && ( street_name.dirty || street_name.touched),
                            'is-valid': street_name.valid       && ( street_name.dirty || street_name.touched)}"
                    formControlName="street_name"
                    >

                <div class="invalid-feedback" *ngIf="street_name.errors && (street_name.dirty || street_name.touched)">
                    <span *ngIf="street_name.errors.required">Debe rellenar el nombre</span>
                </div>
            </div>

            <!--NUMBERO-->
            <div class="form-group">
                <label>Numero:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': street_number.invalid && ( street_number.dirty || street_number.touched),
                            'is-valid': street_number.valid       && ( street_number.dirty || street_number.touched)}"
                    formControlName="street_number">
                    
                <div class="invalid-feedback" *ngIf="street_number.errors && (street_number.dirty || street_number.touched)">
                    <span *ngIf="street_number.errors.required">Debe rellenar algún apellido</span>
                </div>
            </div>

            <!--PISO-->
            <div class="form-group">
                <label>Piso:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': floor.invalid && ( floor.dirty || floor.touched),
                              'is-valid': floor.valid     && ( floor.dirty || floor.touched)}"
                    formControlName="floor">

                <div class="invalid-feedback" *ngIf="floor.errors && (floor.dirty || floor.touched)">
                    <span *ngIf="floor.errors.required">Debe ingresar su floor</span>
                </div>
            </div>


            <!--LETTER-->
            <div class="form-group">
                <label>Letra:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': letter.invalid && ( letter.dirty || letter.touched),
                              'is-valid': letter.valid     && ( letter.dirty || letter.touched)}"
                    formControlName="letter">

                <div class="invalid-feedback" *ngIf="letter.errors && (letter.dirty || letter.touched)">
                    <span *ngIf="letter.errors.required">Debe ingresar un letter</span>
                </div>
            </div>

            <!--PROVINCIA-->
            <div class="form-group">
                <label>Provincia:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': province.invalid && ( province.dirty || province.touched),
                              'is-valid': province.valid     && ( province.dirty || province.touched)}"
                    formControlName="province">

                <div class="invalid-feedback" *ngIf="province.errors && (province.dirty || province.touched)">
                  <span *ngIf="province.errors.required">Password is required</span>
                </div>
            </div>

            <!--LOCALIDAD-->
            <div class="form-group">
                <label>Localidad:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': locality.invalid && ( locality.dirty || locality.touched),
                              'is-valid': locality.valid     && ( locality.dirty || locality.touched)}"
                    formControlName="locality">

                <div class="invalid-feedback" *ngIf="locality.errors && (locality.dirty || locality.touched)">
                  <span *ngIf="locality.errors.required">Password is required</span>
                </div>
            </div>

            <!--CIUDAD-->
            <div class="form-group">
                <label>Ciudad:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': town.invalid && ( town.dirty || town.touched),
                              'is-valid': town.valid     && ( town.dirty || town.touched)}"
                    formControlName="town">

                <div class="invalid-feedback" *ngIf="town.errors && (town.dirty || town.touched)">
                  <span *ngIf="town.errors.required">Password is required</span>
                </div>
            </div>

            <!--CODIGO POSTAL-->
            <div class="form-group">
                <label>Codigo postal:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': postcode.invalid && ( postcode.dirty || postcode.touched),
                              'is-valid': postcode.valid     && ( postcode.dirty || postcode.touched)}"
                    formControlName="postcode">

                <div class="invalid-feedback" *ngIf="postcode.errors && (postcode.dirty || postcode.touched)">
                  <span *ngIf="postcode.errors.required">Password is required</span>
                </div>
            </div>

            <!--MAS INFORMACIÓN-->
            <div class="form-group">
                <label>Detalles:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': details.invalid && ( details.dirty || details.touched),
                              'is-valid': details.valid     && ( details.dirty || details.touched)}"
                    formControlName="details">

                <div class="invalid-feedback" *ngIf="details.errors && (details.dirty || details.touched)">
                  <span *ngIf="details.errors.required">Password is required</span>
                </div>
            </div>

            <button type="submit">Enviar dirección</button>

        </form>

        

    </div>
