@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgb(119, 119, 119);
    position: relative;

    h2{
        font-family: $font_titulos;
        padding-top: 16px;
        text-decoration: underline;
    }

    i{
        position: absolute;
        font-size: 2rem;
        color: $orange_secondary;
        right: 12px;
        top: 12px;
        cursor: pointer;
    }
    
    form{
        width: 100%;
        padding: 6px 12px 12px 12px;
        display: grid;

        div{
            margin-bottom: 1rem;
        }

        button{
            @include crearBoton($green_primary);
            justify-self: center;
            width: 100%;
            max-width: 400px;
        }

        p{
            text-align: center;
            padding-top: 1rem;
        }
    }
}