<div class="container">

    <section>
        
        <app-crud-filters [filterType]="'product'" (createNew)="openNewForm()" (search)="term = $event" (orderBy)="order = $event"></app-crud-filters>

        <div class="form" *ngIf="openForm">
            <app-product-form (product)="productRecived( $event )" (close)="openForm = false" [productRecived]="product"></app-product-form>
        </div>
        
        <table class="table table-hover" *ngIf="products">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">stock</th>
                    <th scope="col" class="price">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let product of products | search: term | orderBy: order" >
                    <th scope="row"> {{ product.id }} </th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.stock }}</td>
                    <td class="price">€{{ product.price }}</td>
                    <td>
                        <button class="btn btn-success me-1" (click)="showForm( product )"><i class="fas fa-edit"></i></button>
                        <button *ngIf="product.active" class="btn btn-danger" (click)="delete(product.id)"><i class="far fa-trash-alt"></i></button>
                        <button *ngIf="!product.active" class="btn btn-primary" (click)="activate(product.id)"><i class="fas fa-check"></i></button>
                    </td>
                </tr>

                
            </tbody>
        </table>
        
    </section>
</div>