<div class="container">

  <section>

      <app-crud-filters [filterType]="'user'" (search)="term = $event" (orderBy)="order = $event" (createNew)="openNewForm()"></app-crud-filters>

<!--         <div class="form" *ngIf="openForm">
          <app-product-form (product)="productRecived( $event )" (close)="openForm = false" [productRecived]="product"></app-product-form>
      </div> -->

      <div class="form" *ngIf="openForm">

      </div>

      <table class="table table-hover" *ngIf="employees">
          <thead>
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col" class="hide">Email</th>
                  <th scope="col" class="hide">Tlf</th>
                  <th scope="col">Acciones</th>
              </tr>
          </thead>
          <!--  -->
          <tbody>
              <tr *ngFor="let employee of employees | search: term | orderBy: order" >
                  <th scope="row"> {{ employee.id }} </th>
                  <td>{{ employee.name }}</td>
                  <td class="hide">{{ employee.email }}</td>
                  <td class="hide">{{ employee.phone }}</td>
                  <td>
                      <!-- <button class="btn btn-success me-1"><i class="fas fa-edit"></i></button> -->
                      <button *ngIf="employee.active" class="btn btn-danger" (click)="delete(employee.id)"><i class="far fa-trash-alt"></i></button>
                      <button *ngIf="!employee.active" class="btn btn-primary" (click)="activate(employee.id)"><i class="fas fa-check"></i></button>
                  </td>
              </tr>


          </tbody>
      </table>

  </section>
</div>
