<div class="contenedor-menu" *ngIf="signedIn">
    <a [routerLink]="['tienda']"><i class="fas fa-user-check"></i>Ver perfíl</a>
    <!-- <p><i class="fas fa-user-check"></i>Mi cuenta</p> -->
    <a [routerLink]="['tienda']" (click)="logOut()"><i class="fas fa-unlock-alt"></i>Cerrar sesión</a>
</div>


<div class="contenedor-menu" *ngIf="!signedIn">
    <a [routerLink]="['login']"><i class="fas fa-unlock-alt"></i>Iniciar sesion</a>
    <!-- <p><i class="fas fa-user-check"></i>Mi cuenta</p> -->
    <a [routerLink]="['registro']"><i class="far fa-user-circle"></i>Crear una cuenta</a>
</div>