@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';


h2, h3{
    font-family: $font_titulos;
    text-decoration: underline;
    padding: 10px 0px;
    text-align: center;

    @include escritorio{
        padding: 20px 0px;
    }
}

p{
    font-family: $font_contenido;
}

main{
    
    .main{
        text-align: center;
        background-color: $gray_light;
        padding-bottom: 26px;

        .container{

            .content{
                
                article{

                    display: grid;

                    @include escritorio{
                        grid-template-columns: 1fr 1fr;
                        margin-bottom: 32px;
                        .text{
                            align-self: center;
                            padding: 12px;
                        }                        
                    }
                }

                .article2{
                    .text{
                        grid-column: 2 / 3;
                    }

                    img{
                        grid-column: 1 / 2;
                        grid-row: 1/2;
                    }
                }
            }
        }
    }
    
    
    
    
}
    