<main>

    <app-slider></app-slider>

    <div class="main">

        <div class="container">


            <section class="content">


                <h2>Peluquería y Cuidados a domicilio</h2>

                <section class="filters">
                    <app-form-make-appointment [serviceType]="'peluqueria'"></app-form-make-appointment>
                </section>

                <article>
                    <div class="text text1">
                        <h3>Peluqueria</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam </p>
                    </div>
                    <img src="./assets/img/peluqueria1.jpg" alt="">
                </article>

                <article class="article2">
                    <div class="text text2">
                        <h3>Baño</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam </p>
                    </div>
                    <img src="./assets/img/peluqueria2.jpg" alt="">
                </article>

                <article>
                    <div class="text text3">
                        <h3>Pedicura</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam </p>
                    </div>
                    <img src="./assets/img/peluqueria3.jpg" alt="">
                </article>

            </section>


        </div>

    </div>

    <app-area></app-area>
</main>
