@mixin escritorio {
    @media only screen and (min-width: #{$escritorio}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$tablet}) {
        @content;
    }
}


@mixin crearBoton($color){
    padding: 6px;
    border-radius: 16px;
    background-color: $color;
    box-shadow: 1px 1px 6px #333;
    box-shadow: 1px 1px 1px #000;
    text-decoration: none; // a veces lo aplico a un enlace
    color: #fff;
    cursor: pointer;
    transition: all 500ms;
    opacity: 0.9;
    &:hover{
      opacity: 1;
      box-shadow: 1px 1px 5px #3c3c3c;
    }
}
