
/*----BREAK POINTS----*/
$tablet: 480px;
$escritorio: 768px;
$contenedor: 1200px;


/*----COLORS-------------*/
$green_primary: #8BC34A;
$orange_secondary: #eb9524;

$blue_dark: #2d88d1;
$blue_light: #03a9f4;
$blue_lighter: #b3e5fc;

$gray_dark: #707070;
$gray_light: #e0e0e0;

$dark_header: #3c3c3c;
$enlaces_footer: #525252;
$fondo_copyright: #282828;


/*----FONTS---------*/
$font_titulos: 'Courgette', cursive;
$font_contenido: 'Poppins', sans-serif;
$font_logo: 'Architects Daughter', cursive;


