<header>

    <div class="header container">



        <img src="assets/icons/logo-pagina.png" alt="logo-animalia" title="logo">

        <a href="#" class="h1">
            <h1>Mimascota<span>.com</span></h1>
        </a>


        <div class="contenedor-menu">

            <div class="contenedor-carro">


                <input type="checkbox" id="cart-input" name="menubar">
                <label class="cart-icon" for="cart-input"> <small>{{ itemCount | async }}</small><i class="fas fa-shopping-cart"></i></label>

                <div class="cart-container">
                    <app-carro></app-carro>
                </div>
            </div>

            <input type="checkbox" id="menu-bar" name="menubar" [(ngModel)]="checked">
			<label class="icon-menu" for="menu-bar"><i class="fas fa-bars"></i></label>

            <nav class="menu">
                <a (click)="checked = false" routerLink="login" *ngIf="!signedIn">Iniciar sesión</a>
                <a (click)="checked = false" routerLink="registro" *ngIf="!signedIn">Registrarse</a>
                <a (click)="checked = false" routerLink="index">Inicio</a>
                <a (click)="checked = false" routerLink="guarderia">Guardería</a>
                <a (click)="checked = false" routerLink="paseos">Paseos</a>
                <a (click)="checked = false" routerLink="peluqueria">Peluquería</a>
                <a (click)="checked = false" routerLink="tienda">Tienda</a>
                <a (click)="checked = false" routerLink="contacto">Contacto</a>
                <a (click)="checked = false" routerLink="usuario/configuracion" *ngIf="signedIn">Ver perfíl</a>
                <a (click)="checked = false" routerLink="usuario/pedidos" *ngIf="signedIn">Mis pedidos</a>
                <a (click)="checked = false" routerLink="usuario/citas" *ngIf="signedIn">Mis citas</a>
                <a (click)="checked = false" routerLink="usuario/direccion" *ngIf="signedIn">Mis direcciones</a>
                <a (click)="logOut()" *ngIf="signedIn">Cerrar sesión</a>
            </nav>

            <div class="contenedor-menu-usuario">
                <i class="fas fa-user user-icon"></i>

                <div class="menu-usuario">
                    <app-menu-user></app-menu-user>
                </div>
            </div>

        </div>

    </div>

    <app-nav-bar></app-nav-bar>

</header>

