<nav>

  <div class="nav container">
      <ul>
          <li><a (click)="term = 'notAsigned'">Sin asignar</a></li>
          <li><a (click)="term = 'asigned'">Asignadas</a></li>
          <li><a (click)="term = 'past'">Pasados</a></li>
      </ul>
  </div>
</nav>

<div class="container container-gray" *ngIf="appointments">

  <article class="order-container" *ngFor="let appointment of appointments | pastOrNewAppointments: term">

      <div class="texto">
          <h3>Nº de cita {{ appointment.id }}</h3>
          <p>Cita para el <small>{{ appointment.date_appointment_from | date:"medium"}} </small></p>
      </div>

      <div class="product-container">

          <div class="info">
              <div class="details">
                  <h3 *ngIf="appointment.service_id == 2"> Paseo </h3>
                  <h3 *ngIf="appointment.service_id != 2"> Peluquería </h3>

                  <p class="descripcion" *ngIf="appointment.service_id == 2">Paseo por horas para relajar a tu mascota</p>
                  <p class="descripcion" *ngIf="appointment.service_id != 2">Peluquería de mascotas, servicio a domicilio</p>
                  <p class="price"> € {{ appointment.price }} </p>
              </div>

              <div class="address">
                <p>Calle: <span>{{ appointment.street_name }}</span></p>
                <p>Numero: <span>{{ appointment.street_number }}</span></p>
                <p>Piso: <span>{{ appointment.floor }} {{ appointment.letter }}</span></p>
                <p>Lugar: <span> {{ appointment.postcode }}, {{ appointment.locality }} {{ appointment.town }} </span></p>
                <p>Cliente: <span>{{ appointment.name }} {{ appointment.surname }} {{ appointment.phone }}</span></p>
              </div>
          </div>

      </div>

      <div class="botones" *ngIf="term == 'notAsigned'">
          <button data-bs-toggle="modal" data-bs-target="#employeeModal" (click)="listEemployees(appointment)">Asignar</button>
          <button>Cancelar Cita</button>
      </div>

      <div class="botones" *ngIf="term == 'asigned'">
          <button disabled>Asignado a {{ appointment.employee_id == 1 ? 'jefe' : 'jefazo' }}</button>
          <button (click)="cancelEmployeeEncharge( appointment.id )">Cancelar asignación</button>
      </div>

      <div class="botones" *ngIf="term == 'past'">
        <span class="badge bg-success p-2 px-4 fs-5">Servicio realizado por {{ appointment.employee_id == 1 ? 'jefe' : 'jefazo' }}</span>
      </div>

  </article>

</div>

<!-- Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Elegir empleado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <section *ngIf="employees">

          <label [for]="employeeRadio" *ngFor="let employee of employees">
            <input name="employeeRadio" type="radio" [value]="employee.id" [(ngModel)]="selectedEmployee" >
              {{ employee.name }}
          </label>

      </section>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="asignEmployee()" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
