<main>
    <div class="container">

      <h2>Animalia<span (click)="showNewEmployee = !showNewEmployee">.</span></h2>

      <div *ngIf="showNewEmployee">
        <app-employee-form (close)="showNewEmployee = false" (employee)="registerEmployee($event)"></app-employee-form>
      </div>


        <form novalidate *ngIf="!showNewEmployee" [formGroup]="myForm" (ngSubmit)="onSubmit()">

            <!--EMAIL-->
            <div class="form-group">
                <input
                    type="email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': email.invalid && ( email.dirty || email.touched),
                              'is-valid': email.valid     && ( email.dirty || email.touched)}"
                    formControlName="email"
                    placeholder="Introduzca su Email...">

                <div class="invalid-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                    <span *ngIf="email.errors.required">Debe ingresar su email</span>
                    <span *ngIf="email.errors.pattern">Email no válido</span>
                </div>
            </div>


            <!--PASSWORD-->
            <div class="form-group">
                <input
                    type="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': password.invalid && ( password.dirty || password.touched),
                              'is-valid': password.valid     && ( password.dirty || password.touched)}"
                    formControlName="password"
                    placeholder="Introduzca su Contraseña...">

                <div class="invalid-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
                    <span *ngIf="password.errors.required">Debe ingresar un password</span>
                    <span *ngIf="password.errors.minlength">El password debe contener al menos 8 caracteres</span>
                </div>
            </div>

            <div class="botones">
                <button type="submit">Iniciar Sesión</button>
                <button type="submit">Cancelar</button>
            </div>

        </form>
    </div>
</main>
