<main>

    <app-slider></app-slider>

    <div class="main">

        <div class="container">


            <h2>Paseamos tus mascotas por horas</h2>

            <section class="filters">
                <app-form-make-appointment [serviceType]="'paseos'"></app-form-make-appointment>
            </section>

            <section class="image-info">
                <img src="./assets/img/index-paseo.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam sodales nunc a pulvinar mattis. Morbi a nunc et justo venenatis dictum. Mauris velit mi, posuere et porttitor at, maximus id purus.sum commodo, dignissim velit.
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam sodales nunc a pulvinar mattis. Morbi a nunc et justo venenatis dictum. Mauris velit mi, posuere et porttitor at, maximus id purus.sum commodo, dignissim velit.</span>
                </p>
            </section>
        </div>

    </div>

    <app-area></app-area>

</main>
