<div class="area container">

    <h2>Nuestra disponibilidad</h2>

    <section class="map-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam 
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quam id posuere rhoncus. Praesent lorem turpis, laoreet sed mi dignissim, semper pretium diam. Aliquam suscipit dui nunc. Etiam vitae ligula fringilla, volutpat augue ut, tincidunt eros. Quisque interdum feugiat magna, id pellentesque eros consequat ut. Nullam sodales nunc a pulvinar mattis. Morbi a nunc et justo venenatis dictum. Mauris velit mi, posuere et porttitor at, maximus id purus.sum commodo, dignissim velit.</span>
        </p>
        <img src="./assets/img/mapa-area.png" alt="">
    </section>

    <a href="#">¿Estas fuera de la zona? Contactanos.</a>

</div>