<section class="articles">

    <article *ngFor="let product of products">
        
        <img [src]="imgRoute + product.img" alt="">
        

        <div class="contenido">
            <h5>{{ product.name }}</h5>

            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>

            <p>{{ product.price }}</p>
        </div>

        <div class="descripcion">
            <p>{{ product.description }}</p>
            <div class="botones">
                <button>Más información</button>
                <button>Añadir al carro</button>
            </div>
        </div>
    </article>

    <!-- <article>
        <img src="../../../../assets/img/productos/editadas/carrito-gato.jpg" alt="">

        <div class="contenido">
            <h5>Nombre Juguete</h5>

            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>

            <p>2.78€</p>
        </div>

        <div class="descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A magni, facere adipisci, placeat cupiditate corporis laborum f</p>
            <div class="botones">
                <button>Más información</button>
                <button>Añadir al carro</button>
            </div>
        </div>
    </article>

    <article>
        <img src="../../../../assets/img/productos/editadas/bufanda-gato-perro.jpg" alt="">

        <div class="contenido">
            <h5>Nombre Juguete</h5>

            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>

            <p>2.78€</p>
        </div>

        <div class="descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A magni, facere adipisci, placeat cupiditate corporis laborum f</p>
            <div class="botones">
                <button>Más información</button>
                <button>Añadir al carro</button>
            </div>
        </div>
    </article>

    <article>
        <img src="../../../../assets/img/productos/editadas/cojin.jpg" alt="">

        <div class="contenido">
            <h5>Nombre Juguete</h5>

            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>

            <p>2.78€</p>
        </div>

        <div class="descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A magni, facere adipisci, placeat cupiditate corporis laborum f</p>
            <div class="botones">
                <button>Más información</button>
                <button>Añadir al carro</button>
            </div>
        </div>
    </article> -->



</section>

<div class="altura"></div>