<section class="articles">

    <!--UTILIZAMOS LA NAVEGACION DE ngx-pagination-->
    <article *ngFor="let product of products | paginate: { itemsPerPage: qtyPerPage, currentPage: curPage }">
        
        <img [src]="imgRoute + product.img" alt="">
        

        <div class="contenido">
            <h5>{{ product.name }}</h5>

           <!--SI TIENE VALORACIONES-->
            <div class="star-container" *ngIf="product.rating_average != null">
                <div class="stars" *ngFor="let i of cantidadEstrellas">
                        <i *ngIf="i <= product.rating_average" class="fas fa-star"></i>
                        <i *ngIf="i > product.rating_average && i-1 < product.rating_average" class="fas fa-star-half-alt"></i>
                        <i *ngIf="i > product.rating_average && i-1 >= product.rating_average" class="far fa-star"></i>
                </div>
                <small class="ms-1">({{ product.number_votes }})</small>
            </div>


            <!--SI NO TIENE VALORACIONES-->
            <small *ngIf="product.rating_average == null">Producto sin valoraciones</small>

            <p>€{{ product.price.toFixed(2) }}</p>
        </div>

        <div class="descripcion">
            <p>{{ product.description }}</p>
            <div class="botones">
                <button>Más información</button>
                <button>Añadir al carro</button>
            </div>
        </div>
    </article>

</section>

<pagination-controls (pageChange)="curPage = $event" class="pagination"></pagination-controls>

