@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.articles {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    grid-gap: 14px;
    margin-top: 30px;

    article{

        display: grid;
        text-align: center;
        font-family: $font_contenido;
        box-shadow: 5px 5px 18px rgba($color: #000, $alpha: 0.5);

        //si solo hay un articulo no sera una bestia de grande
        max-width: 400px;
        position: relative;

        //para que no se salga la img
        overflow: hidden;

        img{
            width:100%;
            transition: all 500ms ease-out;           
        }

        .contenido{
            background-color: #fff;
            padding-top: 12px;

            .star-container{

                display: flex;
                justify-content: center;
                color: gray;

                .stars {
                    color: yellow;
                    text-shadow: 0 0 3px #000;
                }

            }

            p{
                font-family: $font_titulos;
                font-size: 30px;
            }
        }

        //CAPA HOVER
        .descripcion {
            position: absolute;
            background-color: rgba($color: rgb(224, 224, 224), $alpha: 0.8);
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0; 
            transition: all 500ms ease-out;

            p{
                margin: 2px;
                text-shadow: 1px 1px 6px #fff;
                text-shadow: 1px 1px 6px #fff inset;
                font-weight: bolder;
                //display: none; pensar si quieres texto o no creo que mejor no, no se lee bien
            }

            button{
                @include crearBoton($orange_secondary);
                width: 80%;
                margin: 4px 0px;
                transition: all 1s;
                border: none;
                
                &:hover{
                    box-shadow: 1px 1px 6px #333;
                    text-shadow: 1px 1px 4px #333;
                }
                
            }
            
            button:nth-child(1){
                background-color: $blue_light;
            }

            .outOfStock{
                color: red;
            }


        }
        &:hover > .descripcion{
            opacity: 1;
        }

        &:hover > img{
            transform: scale(1.1);
        }

    }
}




/*PAGINATION*/
.pagination {
    display: flex;
    justify-content: center;
    padding: 26px 0px 12px 0px;
}