<main>

    <div class="container user-form" *ngIf="address">

        <h2>Datos del usuario</h2>

        <form  novalidate [formGroup]="myForm" (ngSubmit)="onSubmit()">

            <!--NOMBRE-->
            <div class="form-group">
                <label>Nombre:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': name.invalid && ( name.dirty || name.touched),
                            'is-valid': name.valid       && ( name.dirty || name.touched)}"
                    formControlName="name"
                    >

                <div class="invalid-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                    <span *ngIf="name.errors.required">Debe rellenar el nombre</span>
                </div>
            </div>

            <!--APELLIDO-->
            <div class="form-group">
                <label>Apellido:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': surname.invalid && ( surname.dirty || surname.touched),
                            'is-valid': surname.valid       && ( surname.dirty || surname.touched)}"
                    formControlName="surname">
                    
                <div class="invalid-feedback" *ngIf="surname.errors && (surname.dirty || surname.touched)">
                    <span *ngIf="surname.errors.required">Debe rellenar algún apellido</span>
                </div>
            </div>

            <!--EMAIL-->
            <div class="form-group">
                <label>Email:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': email.invalid && ( email.dirty || email.touched),
                              'is-valid': email.valid     && ( email.dirty || email.touched)}"
                    formControlName="email">

                <div class="invalid-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                    <span *ngIf="email.errors.required">Debe ingresar su floor</span>
                </div>
            </div>

            <!--EMAIL-->
            <div class="form-group">
                <label>Movil:</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': phone.invalid && ( phone.dirty || phone.touched),
                              'is-valid': phone.valid     && ( phone.dirty || phone.touched)}"
                    formControlName="phone">

                <div class="invalid-feedback" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                    <span *ngIf="phone.errors.required">Debe ingresar su floor</span>
                </div>
            </div>


            <button type="submit">Guardar usuario</button>

        </form>

        
    </div>
    <app-address-form *ngIf="!address" (address)="addressRecived( $event )"></app-address-form>
</main>