<footer class="container-fluid bg-dark text-white p-0">

    <div class="container container-md p-5 text-center">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <ul class="list-unstyled">
                    <li>VISTA GENERAL</li>
                    <li><a class="text-decoration-none text-white" href="#">Inicio</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Guardería</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Paseos</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Cuidados</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Peluquería</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Tienda</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <ul class="list-unstyled">
                    <li>INFORMACIÓN</li>
                    <li><a class="text-decoration-none text-white" href="#">Contacto</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Quienes somos</a></li>
                    <li><a class="text-decoration-none text-white" href="#">F.A.Q</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Envíos</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Devoluciones</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Formas de pago</a></li>
                    <li><a class="text-decoration-none text-white" href="#">Rebajas</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <ul class="list-unstyled">
                    <li>ENLACES RELACIONADOS</li>
                    <li><a class="text-decoration-none text-white" href="#">www.adoptamascota.com</a></li>
                    <li><a class="text-decoration-none text-white" href="#">www.adoptatuperro.es</a></li>
                    <li><a class="text-decoration-none text-white" href="#">www.kiwokoadopta.org</a></li>
                    <li><a class="text-decoration-none text-white" href="#">www.todomascota.es</a></li>
                </ul>
                
            </div>
        </div>

        <div class="row d-flex justify-content-around align-items-center">
            
            <div class="col-12 col-sm-6">
                <p class="fs-5 text-center col">Contactanos en:</p>

                <div class="fs-2 text-center">
                    <i class="fab fa-facebook mx-1"></i>
                    <i class="fab fa-twitter-square mx-1"></i>
                    <i class="fab fa-youtube mx-1"></i>
                    <i class="fab fa-whatsapp mx-1"></i>
                    <i class="fab fa-tiktok mx-1"></i>
                    <i class="far fa-envelope mx-1"></i>
                </div>
                
                <div class="">
                    <p class="logo fs-1 text-center">Mimascota<span class="com">.com</span></p>
                </div>
            </div>

            <div class="col-12 col-sm-6 text-center">
                <img src="../assets/icons/logo-pagina.png" alt="">
            </div>

        </div>

    </div>

    <!--Mini Footer-->
    <div class="container-fluid mini-footer">
        <div class="container container-md d-flex justify-content-between py-4">
            <small>&copy; Desarrollado por Federico Andrés Jácome Castañeda</small>
            <small>Terms - Privacy</small>
        </div>
    </div>
</footer>