@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/variables';

.mini-footer{
    background-color: $fondo_copyright;
}

.logo{
    font-family: $font_logo;
}

.com{
    color: $green_primary;
}

img{
    max-width: 200px;
}