<div id="carouselExampleIndicators" class="carousel slide mh-200px" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/img/slider/slider-gato-casa-editada.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/img/slider/amigos-perro-gato-calle-editada.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/img/slider/perro-manta-slide-editada.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>