<main>
    <div class="container">

        <h2>Registro</h2>
        <form>

            <fieldset class="form-group">
                <label>Nombre:</label>
                <input type="text" class="form-control">
                <div class="invalid-feedback" >
                    <span>Debe rellenar el nombre</span>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label>Apellidos:</label>
                <input type="text" class="form-control">
                <div class="invalid-feedback">
                    <span>Debe rellenar algún apellido</span>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control">
                <div class="invalid-feedback" >
                    <span>El email es necesario</span>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label>password:</label>
                <input type="password" class="form-control">
                <div class="invalid-feedback" >
                    <span>Password requerido</span>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label>Repetir password:</label>
                <input type="text" class="form-control">
                <div class="invalid-feedback" >
                    <span>Tambien requerido</span>
                </div>
            </fieldset>

            <button type="submit">Registrarse</button>

            <p>¿Ya estas registrado? <a [routerLink]="['/login']">Inicia sesión</a></p>
        </form>

    </div>
</main>