<app-admin-header></app-admin-header>

<main>
    
<!--     <div class="container-mvl">

        <label class="icon-menu" for="menu-user-check"><i class="fas fa-bars"></i></label>
        <div id="contenedor-menu">
            
            
            <input type="checkbox" id="menu-user-check" name="menubar" >
            <nav class="menu-user">
                <a routerLink="/usuario/pedidos">Mis pedidos</a>
                <a routerLink="/usuario/servicios">Mis servicios</a>
                <a routerLink="/usuario/configuracion">Configuración</a>
                <a routerLink="/usuario/direccion">Mis direcciones</a>
                <a [routerLink]="['/tienda']">Tienda</a>
            </nav>
            
        </div>
    </div> -->
        
    
    <div class="wrapper">
        <div class="sidebar">
            <h2>Hola, Federico</h2>
            <ul>
                <li><a routerLink="/admin/pedidos"><i class="fas fa-shopping-cart"></i>Pedidos</a></li>
                <li><a routerLink="/admin/servicios"><i class="fas fa-cat"></i>Servicios</a></li>
                <li><a routerLink="/admin/productos"><i class="fas fa-archive"></i>Productos</a></li>
                <li><a routerLink="/admin/usuarios"><i class="fas fa-address-card"></i>Usuarios</a></li>
                <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
                <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
                <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
            </ul>
        </div>
    </div>

        
                
    <router-outlet></router-outlet>
    
</main>