/* You can add global styles to this file, and also import other style files */
@import './assets/styles/mixins';
@import './assets/styles/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: $contenedor;
    margin: 0 auto;
}

img{
    width: 100%;
}


/*ANIMACIONES*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
