<header>

    <div class="header container">

        
        
        <img src="assets/icons/logo-administracion.png" alt="logo-animalia" title="logo">
        
        <a href="#" class="h1">
            <h1>Mimascota</h1>
        </a>
        
        
        <div class="contenedor-menu">

            
            <input type="checkbox" id="menu-bar" name="menubar">
			<label class="icon-menu" for="menu-bar"><i class="fas fa-bars"></i></label>
            
            <nav class="menu">
                <a routerLink="/admin/pedidos">Pedidos</a>
                <a routerLink="/admin/servicios">Servicios</a>
                <a routerLink="/admin/productos">Productos</a>
                <a routerLink="/admin/usuarios">Usuarios</a>
                <a href="#">Paseos</a>
                <a href="#">Peluquería</a>
                <a [routerLink]="['tienda']">Tienda</a>
                <a href="#">Contacto</a>
            </nav>

        </div>

    </div>    

</header>

