<header>

    <div class="header container">

        
        
        <img src="assets/icons/logo-administracion.png" alt="logo-animalia" title="logo">
        
        <a href="#" class="h1">
            <h1>Mimascota</h1>
        </a>
        
        
        <div class="contenedor-menu">

            
            <input type="checkbox" id="menu-bar" name="menubar">
			<label class="icon-menu" for="menu-bar"><i class="fas fa-bars"></i></label>
            
            <nav class="menu">
                <a href="#">Iniciar sesión</a>
                <a href="#">Registrarse</a>
                <a [routerLink]="['index']">Inicio</a>
                <a href="#">Guardería</a>
                <a href="#">Paseos</a>
                <a href="#">Peluquería</a>
                <a [routerLink]="['tienda']">Tienda</a>
                <a href="#">Contacto</a>
            </nav>

        </div>

    </div>    

</header>

