<div class="container">

  <h2>Empleado</h2>
  <i class="far fa-times-circle" (click)="close.emit(true)"></i>

  <form novalidate [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <!--NOMBRE-->
      <div class="form-group">
          <label>Nombre:</label>
          <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': name.invalid && ( name.dirty || name.touched),
                      'is-valid': name.valid       && ( name.dirty || name.touched)}"
              formControlName="name"
              >

          <div class="invalid-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
              <span *ngIf="name.errors.required">Debe rellenar el nombre</span>
          </div>
      </div>

      <!--APELLIDO-->
      <div class="form-group">
          <label>Apellido:</label>
          <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': surname.invalid && ( surname.dirty || surname.touched),
                      'is-valid': surname.valid       && ( surname.dirty || surname.touched)}"
              formControlName="surname">

          <div class="invalid-feedback" *ngIf="surname.errors && (surname.dirty || surname.touched)">
              <span *ngIf="surname.errors.required">Debe rellenar algún apellido</span>
          </div>
      </div>

      <!--EMAIL-->
      <div class="form-group">
          <label>Email:</label>
          <input
              type="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': email.invalid && ( email.dirty || email.touched),
                        'is-valid': email.valid     && ( email.dirty || email.touched)}"
              formControlName="email">

          <div class="invalid-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
              <span *ngIf="email.errors.required">Debe ingresar su email</span>
          </div>
      </div>


      <!--PASSWORD-->
      <div class="form-group">
          <label>contraseña:</label>
          <input
              type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': password.invalid && ( password.dirty || password.touched),
                        'is-valid': password.valid     && ( password.dirty || password.touched)}"
              formControlName="password">

          <div class="invalid-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
              <span *ngIf="password.errors.required">Debe ingresar una contraseña</span>
          </div>
      </div>

      <!--IS ADMIN-->
      <div class="form-group">
        <label for="is_admin">Administrador? </label>
          <select formControlName="is_admin" name="is_admin" >
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
      </div>

      <!--PHONE-->
      <div class="form-group">
          <label>Telefono:</label>
          <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': phone.invalid && ( phone.dirty || phone.touched),
                        'is-valid': phone.valid     && ( phone.dirty || phone.touched)}"
              formControlName="phone">

          <div class="invalid-feedback" *ngIf="phone.errors && (phone.dirty || phone.touched)">
            <span *ngIf="phone.errors.required">Telefono incorrecto</span>
          </div>
      </div>

      <!--SALARY-->
      <div class="form-group">
          <label>Salario:</label>
          <input
              type="number"
              class="form-control"
              [ngClass]="{ 'is-invalid': salary.invalid && ( salary.dirty || salary.touched),
                        'is-valid': salary.valid     && ( salary.dirty || salary.touched)}"
              formControlName="salary">

          <div class="invalid-feedback" *ngIf="salary.errors && (salary.dirty || salary.touched)">
            <span *ngIf="salary.errors.required">salary is required</span>
          </div>
      </div>

      <!--DETAILS-->
      <div class="form-group">
          <label>Detalles</label>
          <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': details.invalid && ( details.dirty || details.touched),
                        'is-valid': details.valid     && ( details.dirty || details.touched)}"
              formControlName="details">

          <div class="invalid-feedback" *ngIf="details.errors && (details.dirty || details.touched)">
            <span *ngIf="details.errors.required">Ingrese algún detalle</span>
          </div>
      </div>

      <button type="submit">Guardar empleado</button>

  </form>



</div>
