<div class="contenedor-filtros">
    <select name="orden" id="">
        <option value="ordenar">Ordenar</option>
        <option value="precio-asc">Precio Ascendente</option>
        <option value="precio-desc">Precio Descendente</option>
        <option value="valoracion">Valoración</option>
    </select>

    <select name="cantidad" id="">
        <option value="12">12</option>
        <option value="20">20</option>
        <option value="todos">Todos</option>
    </select>

    <input type="search" placeholder="Buscar juguetes, camas...">
</div>